/** ********** Fonts ********** **/
* {
    font-family: "JuliaNerd", "FiraCode", archcraft, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/** ********** Main Window ********** **/
window {
	background-color: #2e2c2f;
}

/** ********** Buttons ********** **/
button {
	background-color: #2e2c2f;
    color: #ecefe8;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
    border-color: #3c3a3d;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    margin: 8px;
    box-shadow: 0px 0px 4px 0px #3c3a3d;
}

button:focus, button:active, button:hover {
    border-color: #729b79;
    box-shadow: 0px 0px 4px 0px #729b79;
	outline-style: none;
}

/** ********** Icons ********** **/
#lock {
    background-image: image(url("icons/lock.svg"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.svg"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.svg"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.svg"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.svg"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.svg"), url("/usr/share/wlogout/icons/reboot.png"));
}
