@import "colors";

*{
	all: unset;
	font-family: ComicMonoNF;
}

/** General **/

.bar_main {
    background-color: $bg;
    margin: 0px 0px 4px 0px;
    opacity: 0.96;
    box-shadow: 0px 0px 4px 0px $bg-dim;
}

.bar_module {
    margin: 0px 4px 0px 4px;
}

.sidebar_main {
    background-color: $bg;
    margin: 8px 8px 8px 4px;
    opacity: 0.96; 
    box-shadow: 0px 0px 4px 0px $green;
    border-radius: 8px;
}

.sidebar_module {
    margin: 8px;
}

/** Tooltips & popups **/

tooltip.background, .wifi_popup_layout  {
    background-color: $bg;
    color: $fg;
    font-size: 14px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: $bg-dim;
    opacity: 0.96;
    box-shadow: 0px 0px 4px 0px $bg-dim;
    margin: 8px;
    padding: 8px;
}
tooltip label {
    margin: 8px;
}

/** Widgets **/

.bar_button {
    background-color: $bg;
    font-size: 14px;
    color: $fg;
    margin: 4px;
    opacity: 0.96;
    border-radius: 8px;
    // border-color: $bg-dim;
    // border-width: 0.5px;
    // border-style: dotted;
    .closed, .disabled, .off {
        color: $bg-dim;
    }
    .critical {
        color: $red;
    }
    .focused, .wifi_active {
        color: $green;
    }
    .music {
        font-size: 32px;
    }
    .wifi, .wifi_active {
        margin: 4px;
    }
    .clock {
        margin: 0px 8px 0px 8px;
        font-size: 12px;
        .hour {
            font-weight: bold;
        }
        .separator {
            margin: 0px 4px 0px 4px;
        }
        .date {
            margin: 0px 4px 0px 8px;
        }
    }
    .active_window {
        font-size: 12px;
        margin: 4px;
    }
    &:hover {
        transition-property: background-color, border-radius, box-shadow, color;
        transition-duration: 200ms;
        // transition-timing-function: cubic-bezier(0.86,0.05,0.42,0.86);
        transition-timing-function: ease-in-out;
        // background-color: rgba($green, 0.9);
        background-color: rgba($bg-dim, 0.23);
        border-radius: 8px;
        box-shadow: 0px 0px 4px 0px $green;
        color: $fg;
    }
}

.sidebar_box {
    // border-width: 1px;
    // border-style: solid;
    background-color: $bg;
    font-size: 16px;
    color: $fg;
    margin: 8px;
    opacity: 0.96;
    border-radius: 8px;
    .progress scale trough highlight {
        all: unset;
        background-image: linear-gradient(to right, $blue 0%, $teal 25%, $green 50%, $yellow 100% *50);
        border-radius: 8px;
    }
    .progress scale trough {
        all: unset;
        // background-color: $bg;
        box-shadow: 0px 0px 4px 0px $bg-dim;
        border-radius: 8px;
        min-height: 16px;
        // min-width: 240px;
    }
    .artist {
        font-weight: bold;
        color: $green;
    }
    .title {
        font-weight: bold;
        color: $purple;
    }
    .cover {
        background-size: cover;
        // background-position: center;
        box-shadow: 0px 0px 4px 0px $bg-dim;
        min-width: 240px;
        min-height: 240px;
        border-radius: 8px;
    }
}

.lyrics_line {
    // all: unset;
    // margin: 0px 0px -8px 0px;
    margin: 0px 8px 0px 8px;
    font-size: 14px;
    font-family: "ComicMono";
}

.calendar_box {
    background-color: $bg;
    font-family: JuliaNerd;
    font-size: 16px;
    font-weight: normal;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: $green;
    .calendar_inner {
        padding: 0px 8px 0px 8px;
        color: $green;
        .calendar {
            &.highlight {
                padding: 20px;
            }
            padding: 4px 5px 5px 5px;
            margin-left: 8px;
        }
    }
    opacity: 0.96;
    padding: 8px;
    box-shadow: 0px 0px 4px 0px $green;
    margin: 8px;
}
calendar {
    color: $fg;
}
calendar:selected {
    color: $teal;
    font-weight: bold;
}
calendar.header {
    color: $green;
    font-weight: bold;
}
calendar.button {
    color: $green;
}
calendar.highlight {
    color: $yellow;
    font-weight: bold;
}
calendar:indeterminate {
    color: $bg-dim;
}
