@import "theme.css";

/** ********** Fonts ********** **/
* {
    font-family: "JuliaNerd", "Fira Code", archcraft, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/** ********** Waybar Window ********** **/

window#waybar {
    background-color: @bg;
	/* color: @fg; */
	color: @fg;
    border-bottom: 2px solid @bg-dim;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
    opacity: 0.8;
}
window#waybar.hidden {
    opacity: 0.5;
}

tooltip {
    background-color: @bg;
    color: @fg;
    border: 2px solid @bg-dim;
}

#workspaces button {
    padding: 0 5px;
    color: @fg;
    /* border-bottom: 1px solid @fg; */
	margin: 6px 0px;
	padding: 2px 8px;
    border-radius: 0;
}

#workspaces button.active {
    color: @green;
    border-bottom: 1px solid @green;
}

#workspaces button.focused {
    color: @yellow;
    border-bottom: 1px solid @yellow;
}

#window {
    background-color: @bg;
	color: @fg-dim;
}

/** ********** Backlight ********** **/
#backlight {
	border-bottom: 1px solid @yellow;
	color: @yellow;
}

/** ********** Battery ********** **/
#battery {
	border-bottom: 1px solid @blue;
	color: @blue;
}
#battery.charging {}
#battery.plugged {}
@keyframes blink {
    to {
        color: @fg;
    }
}
#battery.critical:not(.charging) {
	background-color: @red;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/** ********** Bluetooth ********** **/
#bluetooth {
	border-bottom: 1px solid @green;
	color: @green;
}
#bluetooth.off {
    border-bottom: 1px solid @bg-dim;
    color: @fg-dim;
}

/** ********** Clock ********** **/
#clock {
	border-bottom: 1px solid @orange;
	color: @orange;
}

/** ********** CPU ********** **/
#cpu {
	border-bottom: 1px solid @teal;
	color: @teal;
}

/** ********** Memory ********** **/
#memory {
	border-bottom: 1px solid @blue;
	color: @blue;
}

/** ********** Disk ********** **/
#disk {
	border-bottom: 1px solid @purple;
	color: @purple;
}

/** ********** Tray ********** **/
#tray {
	border-bottom: 1px solid @fg-dim;
	color: @fg-dim;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** Network ********** **/
#network {
	border-bottom: 1px solid @teal;
	color: @teal;
}
#network.disconnected,#network.disabled {
	border-bottom: 1px solid @fg-dim;
	color: @fg-dim;
}
#network.linked {}
#network.ethernet {}
#network.wifi {}

/** Common style **/
#backlight, 
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#tray,
#pulseaudio,
#network,
#window {
	/* border-radius: 4px; */
	margin: 6px 0px;
	padding: 2px 8px;
}

/** ********** Custom ********** **/
#custom-menu, #custom-power, #custom-weather, #custom-updater, #custom-volume, #custom-media {
	/* border-radius: 4px; */
	margin: 6px 0px;
	padding: 2px 8px;
}
#custom-menu {
	border-bottom: 1px solid @green;
	color: @green;
	margin-left: 6px;
	padding: 2px 6px;
	font-size: 18px;
}
#custom-power {
	border-bottom: 1px solid @red;
	color: @red;
	margin-right: 6px;
	font-size: 18px;
}
#custom-volume.on {
	border-bottom: 1px solid @purple;
	color: @purple;
	margin-right: 6px;
}
#custom-volume.off {
	border-bottom: 1px solid @bg-dim;
	color: @fg-dim;
	margin-right: 6px;
}
#custom-media {
	color: @fg;
	margin-right: 6px;
}
#custom-media.Paused {
	color: @fg-dim;
}

