@import "colors";

*{
    all: unset;
    transition: 200ms ease-in-out;
}

.leaf-bar-layout {
    background-color: rgba($bg, 0);
    color: $fg;
	font-family: JuliaNerd;
    font-size: 12;
    .top {
        padding: 4px 4px 0px 4px;
    }
    .bottom {
        padding: 0px 4px 4px 4px;
    }
}

.leaf-bar-module {}

.comment {
    color: $bg-dim;
}

.on {
    color: $fg;
}
.off {
    color: $bg-dim;
}
.active {
    color: $green;
}
.bold {
    font-weight: bold;
}

.red {
    color: $red;
}
.green {
    color: $green;
}
.yellow {
    color: $yellow;
}
.blue {
    color: $blue;
}
.purple {
    color: $purple;
}
.teal {
    color: $teal;
}
.orange {
    color: $orange;
}

tooltip {
    border-radius: 8px;
    background-color: rgba($bg, 0.96);
    border: solid 0.25px $purple;
    label {
        color: $purple;
        font-family: JuliaNerd;
    }
}

.leaf-workspaces {}
.leaf-active-window, .leaf-task-module {
    background-color: $bg;
    margin: 4px;
    padding: 4px 8px 4px 8px;
    box-shadow: 0px 0px 4px 0px rgba($bg-dim, 0.5);
    border: solid 0.25px $fg-dim;
    border-radius: 8px;
}

.leaf-button {
	font-family: ComicMonoNF;
    margin: 4px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba($bg-dim, 0.5);
    background-color: $bg;
    border: solid 0.25px $fg-dim;
    // .active {
    //     box-shadow: 0px 0px 4px 0px $green;
    //     border-radius: 8px;
    // }
    &:hover {
        transition-property: box-shadow, color;
        box-shadow: 0px 0px 4px 0px $green;
        color: $green;
    }
}

.leaf-button-content {
    margin: 0px 16px 0px 16px;
}

.leaf-clock {
    margin: 2px 4px 0px 4px;
    .date {
        color: $purple;
    }
    .hour {
        font-weight: bold;
    }
}

.leaf-revealer {
    font-family: JuliaNerd;
}

.leaf-sidebar-layout {
    background-color: rgba($bg, 0);
    color: $fg;
    // border-radius: 8px;
    // box-shadow: 0px 0px 4px 0px rgba($bg-dim, 0.5);
	font-family: JuliaNerd;
}

.leaf-sidebar-module {
    margin: 4px 8px 4px 4px;
    border-radius: 8px;
    background-color: rgba($bg, 0.96);
    box-shadow: 0px 0px 4px 0px rgba($bg-dim, 0.5);
    border: solid 0.25px $fg-dim;

    .active {
        // color: $green;
        box-shadow: 0px 0px 4px 0px $yellow;
        border-radius: 8px;
    }

    .music-cover {
        background-size: cover;
        // background-position: center;
        box-shadow: 0px 0px 4px 0px rgba($bg-dim, 0.5);
        border: solid 0.25px $fg-dim;
        min-width: 240px;
        min-height: 240px;
        border-radius: 8px;
    }

    .music-info {
        font-size: 15px;
        .artist {
            color: $purple;
        }
        .title {
            color: $yellow;
            font-weight: bold;
        }
        .album {
            color: $teal;
        }
    }

    .music-lyrics {
    }

    .music-progress scale trough highlight {
        all: unset;
        background-image: linear-gradient(to right, $blue 0%, $teal 25%, $green 50%, $yellow 100% *50);
        border-radius: 4px;
    }
    .music-progress scale trough {
        all: unset;
        background-color: $bg;
        box-shadow: 0px 0px 4px 0px rgba($bg-dim, 0.5);
        border: solid 0.25px $fg-dim;
        border-radius: 4px;
        min-height: 8px;
        margin: 0px 16px 0px 16px;
        // min-width: 220px;
    }

    .music-controls {
        font-size: 32px;
        font-family: ComicMonoNF;
    }
}

.leaf-sidebar-content {
    margin: 8px;
}

calendar {
    color: $fg;
    :selected {
        color: $teal;
        font-weight: bold;
    }
    .header {
        color: $green;
        font-weight: bold;
    }
    .button {
        color: $green;
    }
    .highlight {
        color: $yellow;
        font-weight: bold;
    }
    :indeterminate {
        color: $bg-dim;
    }
}
